/* ------------------------StaffPage Style----------------------- */

:root {
  --primary-color: #f5f5f5;
   --secondary-color: #fff;
   --font-color: #292929;
   --shadow: rgb(204, 204, 204);
   --shadow2: rgba(0,0,0,0.08);
   --footer-bg: #57d2d4;
   --brdcrmb: #dbdada;
}

.dark-theme {
  --primary-color: #393E46;
  --secondary-color: #222831;
  --font-color: #fff;
  --shadow: rgba(0, 0, 0, 0.233);
  --shadow2: rgba(0, 0, 0, 0.356);
  --footer-bg: #222831;  
  --brdcrmb: #222831;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ff4848;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff4848c7;
}

body {
    width: 100%;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
}


/* NAVBAR -----------------------------------*/
.logo {
  flex: 1 1 auto;
  margin-left: 5%;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  width: 100%;
  height: 70px;
  z-index: 1;
}

.nav {
display: flex;
justify-content:right ;
list-style: none;
}


.nav a {
  transition: all 0.3s ease 0s;
  margin: 15px;
  font-size: 18px;
  text-decoration: none;
  color: var(--font-color);
}

.nav li a:hover {
  font-weight: bold;
}

/* Button Dark/Light ----------*/
#moon {
  width: 25px;
  cursor: pointer;
  margin-right: 5%;
}

#staff {
        
    width: 100%;
    height: 100vh;
    display: flex ;
   justify-content:flex-start;
    align-items: flex-start;
    flex-direction:column ;
    margin-bottom: 300px;
    }

    
    #HeadEmployee {
        font-size: 2rem ;
        font-weight: bold;
    color: #292929 ;
    display: flex;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 20px;      
    }
    
    
     #icon1 {
        background-color: #57d2d4;
        color: #ffff;
        width: 30px;
        height: 30px;
        margin: 0px 20px ;
        padding: 5px;
    
    }

  #active {
    color: #57d2d4;
    font-weight: bold;
  }

 #staff h1 {
    padding: 1px ;
    justify-content:center;
    font-size: 1.5rem ;
    margin-left: 130px;
}

.Staffbox {
width: 235px ;
height: 270px;
background-color: var(--secondary-color);
box-shadow: 0.5px 0.5px 20px var(--shadow);
display: flex ;
flex-direction:column;
justify-content:space-between;
align-content:center ;
padding: 20px;
border-radius: 10px;
margin: 22px ;
position: relative;
}

.container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 35px;
}

.top-bar {
width:45%;
height:5px;
position: absolute;
left:50%;
top: 0px;
transform: translateX(-50%);
background-color: #57d2d4;
border-radius: 0px 0px 10px 10px ;
}


.info img {
width: 120px;
height:120px;
border-radius: 50%;
overflow: hidden;
object-fit: cover;
object-position: center;
}


.info strong {
position: relative;
top:15px;
    font-weight: 500;
    color: var(--font-color);
   font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
}

.info {
display: flex;
justify-content:center;
align-items:center;
flex-direction: column;
padding-top: 30% ;
padding-left: 0px;

}

.info p{
    position: relative;
top:15px;
font-size: 0.8rem ;
color: var(--font-color);
margin: 5px 0px;
display: flex;
align-items: center;

flex-direction: column;
}

.rate { 
  direction: rtl;
}
.rate input { 
 
  display: none;
}

.rate label {
display: inline-block;
width: 20px ;
position: relative;
cursor: pointer;
} 

.rate label:before {
content: "\2605";
position: absolute;
font-size: 20px;
display: inline-block;
top:0;
left:0;
color:lightgray;
}

.rate label:after {
content: "\2605";
position: absolute;
font-size: 20px;
display: inline-block;
top:0;
left:0;
color: yellow;
opacity: 0;
}

.rate label:hover:after,
.rate label:hover ~ label:after,
.rate input:checked ~ label:after{
opacity: 1;
}

.E1rate label:hover:after,
.E1rate label:hover ~ label:after,
.E1rate input:checked ~ label:after{
opacity: 1;
}

.E2rate label:hover:after,
.E2rate label:hover ~ label:after,
.E2rate input:checked ~ label:after{
opacity: 1;
}
.E3rate label:hover:after,
.E3rate label:hover ~ label:after,
.E3rate input:checked ~ label:after{
opacity: 1;
}
.E4rate label:hover:after,
.E4rate label:hover ~ label:after,
.E4rate input:checked ~ label:after{
opacity: 1;
}
.E5rate label:hover:after,
.E5rate label:hover ~ label:after,
.E5rate input:checked ~ label:after{
opacity: 1;
}
.E6rate label:hover:after,
.E6rate label:hover ~ label:after,
.E6rate input:checked ~ label:after{
opacity: 1;
}
.E7rate label:hover:after,
.E7rate label:hover ~ label:after,
.E7rate input:checked ~ label:after{
opacity: 1;
}


footer {
    position: relative;
    width: 100%;
    background-color: var(--footer-bg);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

footer .social_icon, 
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social .twi,
.social_icon .twi {
    width: 50px;
    height: 50px;
}

.social_icon img,
.social img {
    width: 40px;
    height: 40px;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.3em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 1;
}

footer .menu li a:hover {
    opacity: 0.80;
}

footer p {
    text-align: center;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.9em;
    margin-left: 40px;
}


  
  span {

    font-size: 15px;

  }

  
  ul.breadcrumb {
    position: absolute;
    top: 85px;
    left: 90px;
    bottom: 80px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      margin-bottom: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-left: 50px;
    display: inline-block;
    list-style: none;
  }

  #sticon {
    width: 30px;
    height: 30px;
    margin-top: 25%;
  }
  
  ul.breadcrumb li {
    float: right;
    padding: 5px;
    background-color: var(--primary-color);
    
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    margin-left: -50px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 3px;
  }
  ul.breadcrumb li a {
    overflow: hidden;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    height: 50px;
    color: var(--font-color);
    background-color: var(--brdcrmb);
    text-align: center;
    min-width: 50px;
    display: block;
    line-height: 50px;
    padding-left: 52px;
    padding-right: 33.33333px;
    width: 50px;
  }
  ul.breadcrumb li a .icon {
    display: inline-block;
  }
  ul.breadcrumb li a .text {
    display: none;
    opacity: 0;
  }
  ul.breadcrumb li a:hover {
    width: 150px;
    background-color: #57d2d4;
  }
  ul.breadcrumb li a:hover .text {
    display: inline-block;
    opacity: 1;
  }
  ul.breadcrumb li:last-child a {
    padding: 0;
  }
  ul.breadcrumb li:last-child:hover {
    padding: 3px;
    margin-top: 0;
  }
  ul.breadcrumb li:last-child:hover a {
    width: 20px;
    height: 60px;
    line-height: 60px;
  }
